@font-face {
    font-family: 'Pacifico';
    src: url('Pacifico.ttf')
}
@font-face {
    font-family: 'Recorda';
    src: url('RecordaScript_Personal_Use_Only.ttf');
}
@font-face {
    font-family: 'Impregnable';
    src: url('Impregnable_Personal_Use_Only.ttf');
}
@font-face {
    font-family: 'Yellowtail';
    src: url('Yellowtail-Regular.otf');
}
@font-face {
    font-family: 'norwester';
    src: url('norwester.otf');
}
@font-face {
    font-family: 'Adequate';
    src: url('Adequate-ExtraLight.ttf');
}
@font-face {
    font-family: 'Aleo Bold';
    src: url('Aleo%20Bold/Aleo-Bold.otf');
}
@font-face {
    font-family: 'Intro Cond Black';
    src: url('Intro%20Cond%20Black%20Free.otf');
}
@font-face {
    font-family: 'Intro Cond Light';
    src: url('Intro%20Cond%20Light%20Free.otf');
}
@font-face {
    font-family: 'Raleway Black';
    src: url('raleway/Raleway-Black.ttf');
}
@font-face {
    font-family: 'Raleway BlackItalic';
    src: url('raleway/Raleway-BlackItalic.ttf');
}
@font-face {
    font-family: 'Raleway Bold';
    src: url('raleway/Raleway-Bold.ttf');
}
@font-face {
    font-family: 'Raleway BoldItalic';
    src: url('raleway/Raleway-BoldItalic.ttf');
}